# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
admin-web/node_modules/
admin-web/dist/
admin-web/.env
admin-web/.env.local
admin-web/.env.*.local
cloudfunctions/**/node_modules/
